@font-face {
    font-family: fontDefault;
    src: url('../fonts/Ubuntu-Regular.ttf');
}
* {
    font-family: fontDefault !important;
}

html, body {
    /*2,5*/
    background: url("../img/bg5.png");
}