@font-face {
    font-family: fontDefault;
    src: url('../fonts/Ubuntu-Regular.ttf');
}
* {
    font-family: fontDefault !important;
}

.glyphicon {
    font-family: 'Glyphicons Halflings' !important;
}

html, body {
    background: url("../img/bg.png") fixed;
}

body { 
    padding-top: 70px; 
    /*padding-bottom: 50px;*/ 
}

/* CONTENEDORES */
.wrapper, .navbar-fixed-top {
    min-width: 350px;
}
.panel {
    border-radius: 5px !important;
}
.panel-heading {
    border-top-left-radius: 3px !important; 
    border-top-right-radius: 3px !important;
}
.container-login, .container-signup {
    position: relative;
    left: 50%;
    width: 350px;
    height: auto;
    margin-left: -175px;
    margin-top: 50px;
}
.container-signup {
    width: 400px;
    margin-left: -200px;
}
.panel-izquierda, .panel-derecha{
    float: left;  
}
.panel-izquierda{
    width: 28.2%;
}
.panel-derecha {
    margin-left: 20px;
    width: 70%;
}
.container-avatar, .container-user-info{
    float: none;
}
.float-container-left, .float-container-left-15 {
    float: left !important;
}
.float-container-left {
    width: 100%;
    max-width: 400px;
}
.float-container-left-15 {
    margin-left: 15px;
    width: calc(100% - 415px);
}
.container-img-principal {
    height: 275px;
}
.container-img-project {
    min-height: 70px;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-x {
    overflow: hidden;
    overflow-x: auto !important;
}
.max-height-350 {
    max-height: 350px;
}

@media all and (max-width:470px){
    .container-login, .container-signup {
        position: static;
        width: 100%;
        margin: 50px auto;
        left: auto;
    }
    .panel-izquierda, .panel-derecha {
        margin: 20px auto;
        float: none;
        width: 100%;
    }

    .container-avatar, .container-user-info{
        float: none;
    }
    .float-container-left {
        width: 100%;
        max-width: 100%;
    }
    .float-container-left-15 {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }
}
@media all and (max-width:768px) and (min-width:471px){
    .panel-izquierda, .panel-derecha {
        margin: 20px auto;
        float: none;
        width: 100%;
    }
    .container-avatar, .container-user-info{
        float: left;
    }
    .container-user-info{
        margin-left: 20px;
    }    
    .float-container-left {
        width: 100%;
        max-width: 100%;
    }
    .float-container-left-15 {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }
}
@media all and (max-width:995px) and (min-width:769px){
    .panel-izquierda{
        width: 37%;
    }
    .panel-derecha {
        width: 60%;
    }
    .float-container-left {
        width: 100%;
        max-width: 100%;
    }
    .float-container-left-15 {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }
}
@media all and (max-width:1200px) and (min-width:996px){
    .panel-izquierda{
        width: 27.8%;
    }
}

/* ESTILOS */
.clean-pad-mar {
    margin: 0 !important;
    padding: 0 !important;
}
.shadow, .panel {
    box-shadow: rgba(0,0,0,.2) 0 0 2px;    
}
.shadow-5 {
    box-shadow: rgba(0,0,0,.5) 0 0 5px;    
}
.translucid {
    background: rgba(255,255,255,.5) !important;
}
.translucid-80 {
    background: rgba(255,255,255,.8) !important;
}
.translucid-b {
    background: rgba(0,0,0,.3) !important;
}
.translucid-b-80 {
    background: rgba(0,0,0,.8) !important;
}
.color-white {
    color: rgba(255,255,255,1);    
}
.color-white-50 {
    color: rgba(255,255,255,.5);    
}
.glyph-text-lt, .glyph-text-rt {
}
.glyph-text-lt {
    padding-left: 10px;
}
.glyph-text-rt {
    padding-right: 10px;
}
.header-img {
    width: auto;
    height: 25px;
    display: inline-block !important;
    padding-right: 7px;
}
.avatar {
    width: 200px !important;
    height: 200px !important;
}
.panel-heading {
    border-top-left-radius: inherit; 
    border-top-right-radius: inherit;
}
.panel-heading-sm {
    height: 28px;
    padding: 4px 10px;
}

.panel-body-sm {
    padding: 5px 10px;
}
.border {
    border-width: 1px;
    border-style: solid;
}

.h4 {
    border-bottom: 1px solid rgba(0,0,0,.1);
    /*padding-bottom: 1px;*/
}
.h4 span {
    color: #337ab7;
    /*border-bottom: 1px solid #337ab7;
    padding-right: 5px;*/
}
.tooltip-inner{
    font-size: 1.2em;
}
.bg-gray-10 {
    background: rgba(0,0,0,.05);
}
tr {
    cursor: pointer !important;
}
td {
    color: rgba(0,0,0,.7);
}
textarea {
    resize: none;
    height: 132px !important;
    text-align: justify !important;
    /*white-space: normal;*/
}
textarea.height-new-description {
    resize: none;
    height: 223px !important;
}
.btn-primary-important {
    color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
}
.inline{
    display: inline;
}
.no-corners{
    border-radius: 0 !important;
}
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.publicidad {
    font-size: .7em;
    text-transform: uppercase;
}


/* MEDIDAS */
.width100 {
    width: 100% !important;
}
.height-20 {
    height: 20px !important;
}
.height-50 {
    height: 50px !important;
}
.height-57 {
    height: 57px !important;
}
.max-width-thumb {
    max-width: 150px !important;
    margin-right: 5px;
}
.max-height-config-pjt {
    max-height: 400px !important;
    overflow: hidden;
    overflow-y: auto;
}

/* PADDINGS */
.pad0 {
    padding: 0px !important;
}

.pad5 {
    padding: 5px;
}
.pad5-tb {
    padding: 5px 0; 
}
.pad5-lr {
    padding: 0 5px; 
}

.pad10 {
    padding: 10px;
}
.pad10-tb {
    padding: 10px 0; 
}
.pad10-lr {
    padding: 0 10px; 
}

.pad15-t {
    padding: 15px 0 0 0; 
}

/* MARGINS */
.mar1-l {
    margin-left: 1px;
    margin: auto;
}

.mar5 {
    margin: 5px;
}
.mar5-tb {
    margin: 5px 0; 
}
.mar5-lr {
    margin: 0 5px; 
}

.mar10 {
    margin: 10px;
}
.mar10-tb {
    margin: 10px 0; 
}
.mar10-lr {
    margin: 0 10px; 
}
.mar10-b {
    margin-bottom: 10px; 
}